<meta name="decorator" content="index" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link th:href="@{/plugins/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/plugins/bootstrap/bs-table-1.11/bootstrap-table.css}" rel="stylesheet"/>
<link th:href="@{/plugins/bootstrap-switch/bootstrap-switch.min.css}" rel="stylesheet"/>
<link th:href="@{/plugins/bootstrap/bs-select/css/bootstrap-select.min.css}" rel="stylesheet"/>
<link th:href="@{/themes/Font-Awesome-3.2.1/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/themes/css/layout.css}" rel="stylesheet"/>
<link th:href="@{/themes/font-custom/iconfont.css}" rel="stylesheet"/>
<link th:href="@{/themes/css/css.css}" rel="stylesheet"/>
<link th:href="@{/themes/font-custom/iconfont.css}" rel="stylesheet"/>

<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<script th:src="@{/plugins/jquery/jquery-1.9.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap/bs-table-1.11/bootstrap-table.js}"></script>
<script th:src="@{/plugins/bootstrap/bs-table-1.11/locale/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/plugins/bootstrap-switch/bootstrap-switch.min.js}"></script>
<script th:src="@{/plugins/bootstrap/bs-select/bootstrap-select.min.js}"></script>
<!-- 定义一个全局引用的变量 -->
<script th:inline="javascript">

    const basePath = [[${#httpServletRequest.getContextPath()}]]
    const loginUser = [[${userName}]]




    /**
     * 注销系统
     */
    function exit() {
        var r = confirm("确定要注销?", {
            btn: ["确定", "取消"]
        })
        if (r == true) {
            window.location.href = basePath+"/logonOff";
        } else {
            alert("注销失败！")
        }
    }
</script>
