<!--头部菜单-->
<nav class="navbar top-navbar">
    <div class="navbar-header"><a class="navbar-brand"></a></div>
    <div class="pull-right">
        <ul class="list-unstyled header-func">
            <li class="head-member"><span class="head-member-ico mrr5"></span><span th:text="${userName}"></span></li>
            <li><a href="javascript:exit();"><i title='注销' class="head-ico3"></i></a></li>
        </ul>
    </div>
</nav>
<div class="top-menu-wp">
    <ul id="top-menu" class="list-unstyled clearfix top-menu">
        <li id="index" class="active"><a th:href="@{~/devops/index}" class="top-mu">持续交付工具</a></li>
        <li id="index2" ><a th:href="@{~/devops/index2}" class="top-mu">运维管理工具</a></li>
    </ul>
</div>

<script>
    if (location.pathname.indexOf("index2") != -1) {
        $('#index2').addClass('active').siblings().removeClass('active')
    }else{
        $('#index').addClass('active').siblings().removeClass('active')
    }


</script>
