<div class="col-left">
    <ul class="nav sidebar-nav" id="accordion">
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/homePage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'homePage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >首页</a>
        </li>
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/needsPage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'needsPage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >需求</a>
        </li>
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/pipelinePage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'pipelinePage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >流水线</a>
        </li>
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/codeManagePage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'codeManagePage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >码管理</a>
        </li>
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/packageManagePage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'packageManagePage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >包管理</a>
        </li>
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/disposePage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'disposePage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >部署</a>
        </li>
        <li class="panel nav-panel" >
            <a class="sidebar-item " data-parent="#accordion" th:href="@{/page/reportPage}"
               th:class="${#strings.contains(#httpServletRequest.requestURL,'reportPage')} ? 'sidebar-item':'sidebar-item collapsed'"
            >报表</a>
        </li>
    </ul>
</div>


