@charset "utf-8";
/* CSS Document */

/*form页表格样式*/

/*form表单6列的样式*/
.form_table6{ border:0px solid #A8CFEB; border-collapse:separate; background-color:#d6e8f2; width:100%; font-size:12px; color: #000000; margin-top:5px; }
.form_table6 th{ background-color:#e7f3fc;height:24px;padding:2px 5px;text-align:right; font-size:12px; font-weight:normal;color: #000000 ;width:15%;}
.form_table6 td{ background-color:#FAFCFF;height: 24px;padding:2px 5px;text-align:left;width:20%;}
.form_table6 .formdiv{ background-color:#FAFCFF;text-align:left;}

.form_table6 .DropDownList{ width:127px;} /*默认4列的DropDownList长度*/
 .form_table6 .fslTextBox { width:127px;} /*默认4列的fslTextBox长度*/


/*form表单4列的样式*/
/*需求管控不能设这个，设了之后全部弹出框有滚动条  .form_t{width:781px;border:0px;}    /*控制form的页面宽度为100% by liwenliang 20110709*/
.form_table{border-collapse:collapse; width:100%; font-size:12px;}
.form_table th{height:24px;text-align:right; font-size:12px; font-weight:normal;width:20%;}
.form_table td{height: 24px;text-align:left;width:30%;}
.form_table .formdiv{ background-color:#FAFCFF;text-align:left;}
.form_table a:link {
	color: #000000;
	text-decoration: none;
}
.form_table a:visited {
	text-decoration: none;
	color: #000000;
}
.form_table a:hover {
	text-decoration: underline;
	color: #FF9900;
}
.form_table a:active {
	text-decoration: none;
	color: #FF9900;
}


/*form表格内标题*/
.form_table_title_1{
	font-family:宋体;
	font-size:12px;
	color:#000000;
	width:100%;
	height:25px;
	border:0px;	
}

.form_table_title_1 td{ background-color:#Ffffff;padding:0px 0px;}

.form_table_title_2{
	font-family:宋体;
	font-size:12px;
	color:#000000;
}

.form_table_title_1 .td_l{ width:3%; } /* modify by jtluo 原来的2%太小，icon被挡住一些*/
.form_table_title_1 .td_m{ width:38%;font-weight:bold;	color:#1c568a;}
.form_table_title_1 .td_r{ width:69%; text-align:right;}



/*IT基础超市*/
.top_tab{height:34px;background:#52a9ff;}
.top_tab ul{width:603px;margin:0 auto;}
.top_tab ul li{float:left;height:31px;line-height:31px;margin-top:3px;}
.top_tab ul li a{display:block;padding:0 20px;line-height:31px;color:#fff;font-size:14px;border-radius:3px 3px 0 0;}
.top_tab ul li.on a{background:#fff;color:#52a9ff;}

.w74{width:74%;}
.w26{width:26%;margin-left:74%;}
.shop_sea .sea_tit{font-size:14px;line-height:30px;}
.shop_sea .sea_txt{height:22px;width:86%;line-height:22px;border:1px solid #BDC6CF;padding:0 2px;}
.shop_sea .search_button{display:inline-block;background:#53a9ff url(../img/search_button.png) no-repeat center;width:22px;height:22px;border:1px solid #3d81ff;border-radius:3px;}
.shop_car_icon{display:inline-block;width:15px;height:13px;background:url(../img/shop_car.png) no-repeat center;margin:8.5px 5px 0 0;}

.shop_car .operate{margin:10px;padding-top:5px;border-top:1px solid #BDC6CF;}
.shop_car .operate .car_num{font-size:14px;color:#52a9ff;}
.shop_car .operate .clear_car{display:block;color:#52a9ff;}
.shop_car .operate .clear_car:hover{color:#52a9ff;}
.recomment p{margin:5px 0;line-height:18px;}

.viewport{margin:30px 40px 0px;text-align:center;}
.overview{margin-right:-30px;}
.overview li{width:33.3%;float:left;margin-bottom:30px;overflow:hidden;word-break:break-all;word-wrap:break-word;}
.overview li .shoplist{height:220px;margin-right:30px;padding:20px 15px;background:#d9edff;border:1px solid #6fbaff;}
.overview li .shoplist .shop_product{line-height:20px;margin:50px 0 20px;}
.overview li .shoplist .shop_product .shop_product_tit{font-size:16px;font-weight:bold;}
.overview li .shoplist .shop_product .shop_pro_content{font-size:14px;margin-top:10px;height:50px;min-height:50px;overflow:hidden;}
.overview li .shoplist .shop_product_btn{margin-left:-10px;}

.close_all{border-radius:3px;}
.close_all .close_all_tit{display:block;height:30px;line-height:30px;font-size:14px;text-align:center;background:#d9edff;}

.user_select{padding:10px;height:300px;min-height:300px;overflow:hidden;}
.select_btn{display:block;width:30px;height:20px;border:1px solid #BDC6CF;border-radius:3px;background:#fff url(../img/btn_bg.png) repeat-x 0 bottom;}
.select_yes{display:inline-block;width:10px;height:12px;background:url(../img/l_r_btn.png) no-repeat -20px 0px;margin:5px 0 0 10px}
.select_no{display:inline-block;width:10px;height:12px;background:url(../img/l_r_btn.png) no-repeat 0px 1px;margin:5px 0 0 12px;}

/*文件上传*/
.fileUpload{display:inline-block;position: relative;overflow: hidden;padding:2px 14px;line-height:20px;cursor:pointer;background:#fff url(../img/btn_bg.png) repeat-x 0 bottom;border:1px solid #bdc6cf;border-radius:0 3px 3px 0;}
.fileUpload input.upload_btn{position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
/*.uploadFile{width:240px;height:24px;padding:0 2px;line-height: 24px;border: 1px solid #bdc6cf;border-radius:3px 0 0 3px;border-right:0;}*/
.uploadFile{width:240px;height:24px;padding:0 2px;line-height: 24px;border: 1px solid #bdc6cf;border-radius:3px 0 0 3px;}